In [4]:
import numpy as np
import pandas as pd

from sklearn.metrics.pairwise import cosine_distances
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
np.random.seed(4)
films_rating = pd.DataFrame(
    np.random.randint(0, 6, (6, 7)),
    index=['user_1', 'user_2', 'user_3', 'user_4', 'user_5', 'user_6'],
    columns=['Мстители', 'Матрица', 'Девчата', 
             'Начало', 'Пираты карибского моря', 'Звёздные войны', '1+1']).replace(0, np.nan)
films_rating

,Мстители,Матрица,Девчата,Начало,Пираты карибского моря,Звёздные войны,1+1
user_1,2,5.0,1.0,NaN,NaN,2.0,1
user_2,2,4.0,5.0,1.0,NaN,4.0,2
user_3,4,2.0,4.0,3.0,NaN,5.0,5
user_4,1,5.0,NaN,2.0,5.0,NaN,1
user_5,2,2.0,NaN,NaN,3.0,2.0,5
user_6,1,NaN,5.0,4.0,3.0,2.0,3

In [6]:
def cluster_rec_sys(films_rating: pd.DataFrame, 
                    user_id: str, 
                    calculating_method: str) -> pd.core.frame.DataFrame:
    if (calculating_method == 'euclid'):
        distances = pd.DataFrame(
            euclidean_distances(films_rating.fillna(0).values),
            index=['user_1', 'user_2', 'user_3', 'user_4', 'user_5', 'user_6'],
            columns=['user_1', 'user_2', 'user_3', 'user_4', 'user_5', 'user_6'])
    if (calculating_method == 'cos'):
        distances = pd.DataFrame(
            cosine_distances(films_rating.fillna(0).values),
            index=['user_1', 'user_2', 'user_3', 'user_4', 'user_5', 'user_6'],
            columns=['user_1', 'user_2', 'user_3', 'user_4', 'user_5', 'user_6'])
    
    cluster_1, cluster_2 = distances.sort_values(user_id).iloc[:distances.shape[0] // 2, :], distances.sort_values(user_id).iloc[distances.shape[0] // 2:, :]
    films_cluster_1 = films_rating.T[list(cluster_1.index)].T
    films_cluster_2 = films_rating.T[list(cluster_2.index)].T
    if (user_id in films_cluster_1.index):
        mean_rating = films_cluster_1.drop(user_id).mean(skipna=False)
        films_cluster_1_T = films_cluster_1.T
        films_cluster_1_T['mean_rating'] = mean_rating
        return films_cluster_1_T.T
    if (user_id in films_cluster_2.index):
        mean_rating = films_cluster_2.drop(user_id).mean(skipna=False)
        films_cluster_2_T = films_cluster_2.T
        films_cluster_2_T['mean_rating'] = mean_rating        
        return films_cluster_2_T.T
    return None

In [7]:
print(cluster_rec_sys(films_rating,'user_4','cos'))
cluster_rec_sys(films_rating,'user_4','euclid')

             Мстители  Матрица  Девчата  Начало  Пираты карибского моря  \
user_4            1.0      5.0      NaN     2.0                     5.0
user_1            2.0      5.0      1.0     NaN                     NaN
user_5            2.0      2.0      NaN     NaN                     3.0
mean_rating       2.0      3.5      NaN     NaN                     NaN

             Звёздные войны  1+1
user_4                  NaN  1.0
user_1                  2.0  1.0
user_5                  2.0  5.0
mean_rating             2.0  3.0

,Мстители,Матрица,Девчата,Начало,Пираты карибского моря,Звёздные войны,1+1
user_4,1.0,5.0,NaN,2.0,5.0,NaN,1.0
user_1,2.0,5.0,1.0,NaN,NaN,2.0,1.0
user_5,2.0,2.0,NaN,NaN,3.0,2.0,5.0
mean_rating,2.0,3.5,NaN,NaN,NaN,2.0,3.0

In [ ]:
#задание 2

In [8]:
np.random.seed(4)
data = np.random.randint(0, 5, (10, 15))
products_ratings = pd.DataFrame(data, 
                       columns=['Смартфон', 'Ноутбук', 'Наушники', 'Компьютерная мышь', 'Веб-камера', 
                                'Чехол для смартфона', 'Чехол для ноутбука', 'Портативная зарядка', 
                                'Флеш накопитель', 'Защитное стекло', 'Защитная плёнка', 'Зарядное устройство', 
                                'Монитор', 'Аудио система', 'Умная колонка'],
                       index=[f'user_{i}' for i in range(10)]).replace(0, np.nan)
products_ratings

,Смартфон,Ноутбук,Наушники,Компьютерная мышь,Веб-камера,Чехол для смартфона,Чехол для ноутбука,Портативная зарядка,Флеш накопитель,Защитное стекло,Защитная плёнка,Зарядное устройство,Монитор,Аудио система,Умная колонка
user_0,2.0,1.0,NaN,NaN,2.0,1.0,2,4.0,1.0,NaN,4.0,2.0,4.0,2.0,4.0
user_1,3.0,NaN,1.0,NaN,2.0,NaN,1,2.0,2.0,NaN,NaN,3.0,2.0,1.0,NaN
user_2,4.0,3.0,2.0,3.0,2.0,1.0,2,1.0,NaN,1.0,1.0,1.0,3.0,NaN,4.0
user_3,2.0,3.0,3.0,NaN,2.0,2.0,1,2.0,3.0,NaN,4.0,3.0,3.0,3.0,3.0
user_4,NaN,1.0,NaN,3.0,2.0,NaN,4,3.0,NaN,4.0,NaN,1.0,1.0,4.0,2.0
user_5,3.0,3.0,4.0,NaN,4.0,NaN,3,3.0,4.0,2.0,1.0,3.0,1.0,4.0,3.0
user_6,NaN,2.0,NaN,NaN,3.0,4.0,4,NaN,2.0,1.0,2.0,NaN,NaN,1.0,4.0
user_7,3.0,1.0,3.0,2.0,4.0,NaN,3,2.0,1.0,1.0,3.0,2.0,2.0,1.0,4.0
user_8,4.0,3.0,3.0,NaN,NaN,1.0,1,2.0,NaN,2.0,4.0,2.0,3.0,NaN,3.0
user_9,4.0,1.0,4.0,NaN,3.0,4.0,4,3.0,4.0,NaN,2.0,3.0,3.0,3.0,1.0

In [9]:

tr = products_ratings.loc['user_0'].isnull()

In [11]:
def user_based_rec_sys(products_ratings: pd.DataFrame,
                       calculating_method: str,
                       user_id: str) -> pd.core.frame.DataFrame:
    """
    Функция реализующая рекомендательную систему на базе пользователь
    ориентированного подхода.
    """
    if (calculating_method == 'euclid'):
        users_sim = euclidean_distances(products_ratings.fillna(0))
        users_sim_df = pd.DataFrame(
            users_sim,
            columns=products_ratings.index,
            index=products_ratings.index)
        users_sim_df['sum_cos_dist'] = np.sum(users_sim, axis=1) - 1
    if (calculating_method == 'cos'):
        users_sim = cosine_similarity(products_ratings.fillna(0))
        users_sim_df = pd.DataFrame(
            users_sim,
            columns=products_ratings.index,
            index=products_ratings.index)
        users_sim_df['sum_cos_dist'] = np.sum(users_sim, axis=1) - 1
    rr = (products_ratings.isnull().loc[user_id] == True)
    new_item = []
    for i in range(0, len(rr)):
        if rr[i] == True:
            new_item.append(rr.index[i])
    reformed_scores_user_1 = products_ratings[new_item].fillna(0).T * users_sim_df.iloc[0, :-1]
    reformed_scores_user_1['sum_score'] = reformed_scores_user_1.sum(axis=1)
    reformed_scores_user_1.T.drop(user_id)
    recomendation_user_1 = reformed_scores_user_1.copy()
    recomendation_user_1['result'] = reformed_scores_user_1['sum_score'] / users_sim_df.sum_cos_dist[0]
    recomendation_user_1.T.drop(user_id)
    
    top_films = recomendation_user_1.result.sort_values(ascending=False)
    print('Рекомендуем Вам купить ', top_films.index[0])
    return top_films

user_based_rec_sys(products_ratings, 'cos', 'user_7')

Рекомендуем Вам купить  Чехол для смартфона

Чехол для смартфона    1.4848
Name: result, dtype: float64

In [ ]:
#task3

In [12]:
films_rating

,Мстители,Матрица,Девчата,Начало,Пираты карибского моря,Звёздные войны,1+1
user_1,2,5.0,1.0,NaN,NaN,2.0,1
user_2,2,4.0,5.0,1.0,NaN,4.0,2
user_3,4,2.0,4.0,3.0,NaN,5.0,5
user_4,1,5.0,NaN,2.0,5.0,NaN,1
user_5,2,2.0,NaN,NaN,3.0,2.0,5
user_6,1,NaN,5.0,4.0,3.0,2.0,3

In [ ]:
import tensorflow as tf

U, s, V = np.linalg.svd(
    tf.convert_to_tensor(films_rating.replace('', np.nan).values, np.int32), 
    full_matrices=False,
    compute_uv=True)

u_df = pd.DataFrame(U @ np.diag(s), 
                    index=[
                           'user_1', 'user_2', 'user_3', 
                           'user_4', 'user_5', 'user_6'],
                    columns=['', '', '', '', '', ''])
v_df = pd.DataFrame(V, 
                    columns=[
                             'Мстители', 'Матрица', 'Девчата', 'Начало', 
                             'Пираты карибского моря', 'Звёздные войны', '1+1'],
                    index=['', '', '', '', '', ''])
restored_ratings = pd.DataFrame(np.dot(u_df, v_df), 
             columns=[
                      'Мстители', 'Матрица', 'Девчата', 'Начало', 
                      'Пираты карибского моря', 'Звёздные войны', '1+1'],
             index=[
                    'user_1', 'user_2', 'user_3', 
                    'user_4', 'user_5', 'user_6'])

In [ ]:
from implicit.evaluation import train_test_split

train_explicit_ratings, test_explicit_ratings = train_test_split(ratings, 0.9)

train_ratings = train_explicit_ratings.copy()
test_ratings = test_explicit_ratings.copy()

train_ratings.data = np.ones_like(train_ratings.data)
test_ratings.data = np.ones_like(test_ratings.data)

In [2]:
from implicit.recommender_base import RecommenderBase
from scipy.sparse.linalg import svds
from operator import itemgetter
import scipy
import numpy

In [ ]:
ig0, ig1 = itemgetter(0), itemgetter(1)

class SparseSVD(RecommenderBase):
    """
    Класс для проведения сингулярного разложения матрицы взаимодействий
    и создание рекомендаций на базе латентного представления.
    """
    def __init__(self, factors=32) -> None:
        self.factors = factors

    def fit(self, item_users: scipy.sparse.csr.csr_matrix):
        """
        Метод обучения модели.
        """
        sparse_user_item = item_users.T.tocsr()
        self.U, self.s, self.V = svds(sparse_user_item, k=self.factors)

        self.s_V = np.diag(self.s) @ self.V

    def _get_all_predictions(self, user_id: int) -> numpy.ndarray:
        """
        Метод проведения прогноза для одного пользователя.
        """
        preds = self.U[user_id] @ self.s_V
        return preds

    def rank_items(self, user_id: int, user_items: scipy.sparse.csr.csr_matrix, selected_items):
        """
        Метод ранжирования прогнозов.
        """
        selected_items = list(selected_items)
        preds = self._get_all_predictions(user_id)
        items_preds = zip(selected_items, preds[selected_items])
        ranked_items = sorted(items_preds, key=ig1, reverse=True)
        return ranked_items

    def recommend(self, user_id: int, user_items: int, N=10, 
                  filter_already_liked_items: bool =True, filter_items=None):
        """
        Метод проведения рекомендаций, с возможностью исключения из прогноза 
        объектов, с которыми уже было взаимодействие.
        """
        n_items = self.V.shape[1]
        selected_items = set(range(n_items))
        
        if filter_already_liked_items:
            already_liked_items = set(user_items[user_id].tocoo().col)
            selected_items = selected_items - already_liked_items

        if filter_items is not None:
            selected_items = selected_items - set(filter_items)

        ranked_items = self.rank_items(user_id, user_items, selected_items)
        top_n_items = ranked_items[:N]

        return top_n_items

In [ ]:
class SparseSVD_modern(SparseSVD):
    """
    Обновлённый класс рекомендательной системы на базе матричного разложения
    с методами поиска похожих пользователей и объектов контента.
    """
    def similar_items(self, item_id: int, N: int = 5) -> list:
        """
        Метод поиска N похожих объектов контента (фильмов).
        """
        similar_items(item_id, N)

    def similar_users(self, user_id: int, N: int = 5) -> list:
        """
        Метод поиска похожих пользователей.
        """
        similar_users(user_id, N)

    def precision_top_k(self, y_true, y_pred, k: int) -> float:
        """
        Метод для рассчёта метрики precision по К объектам.
        """

    def recall_top_k(self, y_true, y_pred, k: int) -> float:
        """
        Метод для рассчёта метрики recall по К объектам.
        """